<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalLabel">
            {% block modal-title %} <i class="fa-sharp fa-regular fa-graduation-cap"></i>&nbsp;&nbsp; Editar Información de Usuario{% endblock modal-title %}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="{% url 'edit_user' pk=user.id %}" id="userform" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            <div id="errores">         
            </div>            
            {{ form.as_p }}
        </div> 
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        </div>
    </form>     
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).on('submit', '#userform', function(e){
        e.preventDefault();
        var data = new FormData();
        data.append('username', $('#username').val());
        data.append('last_name', $('#last_name').val());
        data.append('first_name', $('#first_name').val());
        data.append('email', $('#email').val());
        data.append('photo', $('#photo')[0].files[0]);
        data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
    
        $.ajax({
            type: 'POST',
            url:$(this).attr('action'),
            processData: false,
            contentType: false,
            mimeType: "multipart/form-data",
            dataType: 'json',
    
            data: data,
    
            success: function(data){
                if (data.status == 'error') {
                    const json_test = data.errors;
                    console.log('paso');              
    
                    // Selecciona el elemento <div> donde se mostrarán los mensajes de error
                    let msg = 'Error al crear usuario por favor valide los campos';
                    swal("Error", msg, "error")
                    var $errorDiv = $('#errores');
                    $errorDiv.html("")
                    // Itera sobre las entradas del objeto JSON
                    $.each(json_test, function(clave, mensajes) {
                        // Itera sobre los mensajes de error para esa clave
                        $.each(mensajes, function(index, mensaje) {
                            // Crea un elemento <p> para cada mensaje de error
                            var $messageElement = $('<p>').text('- '+mensaje);
                            $errorDiv.append($messageElement).addClass("alert alert-danger");
                        });
                    });
                    // Muestra los mensajes de error en el lugar apropiado...
                    // ...
                } else if (data.status == 'good'){
    
                    let msg = data.mensaje
                    swal("Perfecto !", msg, "success")
                    setTimeout(function() {
                        window.location.href = '/users/';
                        }, 1000);
                    
                    } 
                
                else{
                    console.log(data.mensaje)
                    let msg = 'Usuario Creado Satisfactoriamente';
                    swal("Perfecto !", msg, "success")
                    setTimeout(function() {
                        window.location.href = '/users/';
                        }, 1000);
                    
    
                }
            },
          });
      });
</script>